* {
    background-color: #602B57;
    font-family: 'Roboto', sans-serif;
    padding:0;
    color:white;
}

#button-wrapper {
    display:flex;
    max-width:50em;
    justify-content: center;
    margin:0 auto;
}

button {
    background:#602B57;
    width:10em;
    border:none;
    border-radius:.5em;
    border:2px solid white;
    color:white;
    height:3em;
    font-weight:bold;
    margin:3em;
}

button:hover {
    background-color: white;
    color:#602B57;
    border:2px solid white;
}


h1, h3 {
    color:white;
    text-align: center;
    margin-top:2em;
}

#buttons {
    display: flex;
    margin-top:.5em;
    justify-content: space-around;
}

#results{
    display:flex;
    justify-content: center;
    font-size:large;
    color:white;
    min-height:3em;
}

#score {
    display:flex;
    justify-content:space-evenly;
    max-width:40em;
    margin:0 auto;
}